body {
  margin: 0;
  padding: 0;
  font-family: 'Handlee', cursive;
}

h1 {
  font-size: 40px;
  margin-bottom: 0;
}

h2 {
  font-size: 28px;
  margin-top: 0;
  color: #FFD281;
}

section .section-wrapper {
  padding: 25px 50px 25px 50px;
  text-align: center;
  margin: auto;
  min-height: 300px;
}

/* -------------------------------------
 *  INTRODUCITON
 * ------------------------------------- */

#intro {
    background-color: #FF672A;
    color: #FFFFFF;
}

#intro img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

#intro .social-media a {
  color: #FFA581;
}

#intro .social-media i {
  margin: auto 10px;
}

/* -------------------------------------
 *  SKILLS
 * ------------------------------------- */

#skills {
  background-color: #FFB32A;
  color: #FFFFFF;
}

#skills .search-panel {
  position: relative;
}

#skills .search-panel i {
  position: absolute;
  top: 15px;
  font-size: 20px;
}

#skills .search-panel input {
  height: 40px;
  font-size: 30px;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #FFFFFF;
  margin-bottom: 20px;
  color: #FFFFFF;
  margin-left: 35px;
}

#skills .search-panel .filters {
  flex: 100%;
}

#skills ul.filters li {
  background-color: #FF8453;
  padding: 10px;
  border-radius: 20px;
}

#skills ul.filters li.selected {
  background-color: #FF672A;
}

#skills ul.filters li a {
  text-decoration: none;
  color: #FFFFFF;
}

#skills ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  flex-flow: row wrap;
  justify-content: center;
}

#skills ul li {
  margin: 10px;
}

#skills ul li .progress-chart svg {
  margin-top: 20px;
}

#skills ul li div {
  text-align: center;
  margin-top: 5px;
  font-size: 20px;
}

/* -------------------------------------
 *  EXPERIENCE
 * ------------------------------------- */

#experience {
  text-align: justify;
  width: 80%;
  margin: auto;
}

/* -------------------------------------
 * timeline
 * ------------------------------------- */
#timeline {
  list-style: none;
  margin: 50px 0 30px 120px;
  padding-left: 10px;
  border-left: 8px solid #eee9dc;
  position: relative;
  height: 100%;
}
#timeline li {
  margin: 40px 0;
  position: absolute;
}
#timeline p {
  margin: 0 0 15px 10px;
  text-align: justify;
}

.date {
  margin-top: -10px;
  top: 50%;
  left: -115px;
  font-size: 0.95em;
  line-height: 20px;
  position: absolute;
  font-weight: bold;
}

.date.event {
  left: -50px;
  color: #777777;
}

.circle {
  margin-top: -10px;
  top: 50%;
  left: -22px;
  width: 10px;
  height: 10px;
  background: #eee9dc;
  border: 3px solid #eee9dc;
  border-radius: 50%;
  display: block;
  position: absolute;
}

.circle.event {
  left: -18px;
  width: 8px;
  height: 8px;
  border: none;
  background: #E94200;
}

.content {
  max-height: 20px;
  padding: 25px 20px 0;
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
  border-radius: 0.5em;
}
.content:before, .content:after {
  content: "";
  width: 0;
  height: 0;
  border: solid transparent;
  pointer-events: none;
  right: 100%;
}
.content:before {
  border-right-color: inherit;
  border-width: 10px;
  top: 50%;
  margin-top: -10px;
}
.content.arrow:after {
  border-right-color: #E94200;
  border-width: 7px;
  top: 50%;
  margin-top: -7px;
}
.content p {
  max-height: 0;
  color: transparent;
  text-align: justify;
  word-break: break-word;
  hyphens: auto;
  overflow: hidden;
}

#timeline .content p.title {
  margin-bottom: 0;
}

label {
  font-size: 1.1em;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  top: 20px;
  left: 10px;
  transition: transform 0.2s linear;
}

.radio {
  display: none;
}

.radio:checked + .relative label {
  cursor: pointer;
  transform: translateX(42px);
}
.radio:checked + .relative .circle {
  background: #E99600;
  top: 18%;
}
.radio:checked + .relative .date {
  top: 18%;
}
.radio:checked ~ .content {
  max-height: 180px;
  margin-right: 20px;
  transform: translateX(20px);
  transition: max-height 0.4s linear, border-color 0.5s linear, transform 0.2s linear;
}
.radio:checked ~ .content p {
  max-height: 200px;
  color: #777777;
  transition: color 0.3s linear 0.3s;
}

/* -------------------------------------
 * mobile phones (vertical version only)
 * ------------------------------------- */
@media screen and (max-width: 767px) {
  #timeline {
    margin-left: 0;
    padding-left: 0;
    border-left: none;
  }
  #timeline li {
    margin: 50px 0;
  }

  label {
    width: 85%;
    font-size: 1.1em;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    transform: translateX(18px);
  }

  .content {
    padding-top: 45px;
    border-color: #eee9dc;
  }
  .content:before, .content:after {
    border: solid transparent;
    bottom: 100%;
  }
  .content:before {
    border-bottom-color: inherit;
    border-width: 17px;
    top: -16px;
    left: 50px;
    margin-left: -17px;
  }
  .content:after {
    border-bottom-color: #E94200;
    border-width: 20px;
    top: -20px;
    left: 20px;
    margin-left: -20px;
  }
  .content p {
    font-size: 0.9em;
    line-height: 1.4;
  }

  .circle, .date {
    display: none;
  }
}

/* -------------------------------------
 *  EDUCATION
 * ------------------------------------- */

#education {
  background-color: #EA2786;
  color: #FFFFFF;
}
