<html>
<head>
  <title>Jessica B. Kazembe</title>

  <link href='https://fonts.googleapis.com/css?family=Handlee' rel='stylesheet' type='text/css'>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="css/style.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
</head>

<body ng-app="lynndupree06" ng-controller="HomeController as vm">
  <section id="intro">
    <div class="section-wrapper">
      <img src="images/jessica.jpeg"/>
      <h1>Jessica B. Kazembe</h1>
      <h2>Consultant Developer at ThoughtWorks</h2>

      <div class="social-media">
        <a href="http://twitter.com/lynndupree06" target="_blank"><i class="fa fa-twitter-square fa-2x"></i></a>
        <a href="http://facebook.com/jessica.brazelton" target="_blank"><i class="fa fa-facebook-square fa-2x"></i></a>
        <a href="http://instagram.com/lynndupree06" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
        <a href="http://linkedin.com/in/jbrazelton" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
        <a href="http://github.com/lynndupree06" target="_blank"><i class="fa fa-github-square fa-2x"></i></a>
        <a href="http://technicallyher.com" target="_blank"><i class="fa fa-wordpress fa-2x"></i></a>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="section-wrapper">
      <h1>About Me</h1>
      <p>
        I am very passionate about technology and am excited by solving problems. My background in Computer
        Science has provided me with several different and unique experiences as a Developer. Additionally,
        my sense of creativity has often been an asset in the world of technology. I believe in continuous
        learning, and continual growth as a programmer. Some areas that I enjoy the most are creating Web
        applications and Mobile applications.
      </p>
    </div>
  </section>

  <section id="skills">
    <div class="section-wrapper">
      <h1>Skills</h1>

      <div class="search-panel">
        <i class="fa fa-search"></i>
        <input type="text" ng-model="search"/>
        <ul class="filters">
          <li ng-class="{selected:vm.isSelected('language')}"><a href="" ng-click="vm.filter('language')">Languages</a></li>
          <li ng-class="{selected:vm.isSelected('framework')}"><a href="" ng-click="vm.filter('framework')">Frameworks</a></li>
          <li ng-class="{selected:vm.isSelected('web')}"><a href="" ng-click="vm.filter('web')">Web Technologies</a></li>
          <li ng-class="{selected:vm.isSelected('tool')}"><a href="" ng-click="vm.filter('tool')">Tools</a></li>
          <li ng-class="{selected:vm.isSelected('system')}"><a href="" ng-click="vm.filter('system')">Operating Systems</a></li>
        </ul>
      </div>

      <ul>
        <li ng-repeat="s in vm.skills | filter:search | searchFilter:vm.types track by $index">
          <progress-chart class="progress-chart" skill="s.skill" progress="s.value"></progress-chart>
          <div>{{s.skill}}</div>
        </li>
      </ul>
    </div>
  </section>

  <section id="experience">
    <div class="section-wrapper">
      <h1>My Journey</h1>

      <ul id='timeline' style="height: {{vm.yearList.length*80}}px;">
        <li class='work'
            style="top: {{$index*70}}px;"
            ng-repeat="year in vm.yearList track by $index">
          <div class="relative">
            <span class='date'>{{year}}</span>
            <span class='circle'></span>
          </div>
          <div class='content'></div>
        </li>
        <li class="work present" style="top: {{vm.getPresentPosition()}}px;">
          <div class="relative">
            <span class='date'>Present</span>
            <span class='circle'></span>
          </div>
          <div class='content'></div>
        </li>
        <li class='work'
            style="top: {{vm.getPosition(experience.start)}}px;"
            ng-repeat="experience in vm.experiences track by $index"
            ng-show="vm.shouldShowExperience(experience)">
          <input class='radio' id='work{{$index}}' name='works' type='checkbox'
          ng-click="vm.toggleSelectedExperience(experience)">
          <div class="relative">
            <label for='work{{$index}}'>
              <strong>{{experience.company}}</strong> - {{experience.location}}
            </label>
            <span class='date event'>{{vm.getDate(experience.start)}}</span>
            <span class='circle event'></span>
          </div>
          <div class='content'>
            <p class="title">{{experience.title}}</p>
            <p class="time">{{experience.start | date:'MMM yyyy'}} - {{experience.end | date:'MMM yyyy'}}</p>
            <p>{{experience.description}}</p>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section id="education">
    <div class="section-wrapper">
      <h1>Education</h1>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.7/angular.min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js" type="text/javascript"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/home.controller.js"></script>
  <script src="scripts/search.filter.js"></script>
  <script src="scripts/progress.bar.directive.js"></script>
</body>

</html>
